<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="szu.bdi.hybrid.coretest"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:theme="@style/MyActionBarStyle"-->
    <!--tools:replace="android:allowBackup"-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".CoreTestApp"
        >
        <!--android:icon="@drawable/logo"-->
        <!--TOOL:  http://www.iconres.com/tool/drawable.php-->
        <activity
            android:name=".EntryActivity"
            android:theme="@style/android:Theme.Light.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- register the HybridUI -->
        <activity
            android:name="szu.bdi.hybrid.core.HybridUi"
            android:logo="@drawable/back3x"
            >
            <!--android:parentActivityName=".EntryActivity"-->
            <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value=".EntryActivity"/>-->
            <!-- TODO design a theme of Blue (the color as ACE) -->
        </activity>
        <activity
            android:name="szu.bdi.hybrid.core.WebViewUi"
            >
        </activity>
    </application>

</manifest>
